body {
  margin: 0px;
  font-family: Verdana, sans-serif;
}

header {
  padding: 0 16px;
}

header h1 {
  color: black;
  font-size: 54px;
  line-height: 64px;
  text-align: center;
  margin: 16px 0 16px 0;
}




/* タブメニュー */
.container {
  margin: 30px auto;
  width: 500px;
}
.tab {
  display: flex;
  line-height: 40px;
}
.tab li {
  width: 300px;
}
.tab li a {
  display: inline-block;
  width: 100%;
  font-size: 20px;
  text-align: center;
  padding: 8px 0;
  color: #333;
  text-decoration: none;
  border-radius: 4px 4px 0 0;
}
.tab li a.active {
  background: #333;
  color: #fff;
}
.tab li a:not(.active):hover {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.content.active {
  background: #333;
  color: #fff;
  min-height: auto;
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
}
.content {
  display: none;
}

  /* テント */
.camp1 {
  list-style: none;
  padding: 0; 
  margin: 0;  
}
.camp1 li {
  padding: 8px;
}
.camp1 li a {
  color:rgb(247, 244, 244);
  text-decoration: none;
  cursor: pointer; 
}
.camp1 li a:hover {
  opacity: 0.5;
}
/* テーブル */
.camp2 {
  list-style: none;
  padding: 0;
  margin: 0;  
}
.camp2 li {
  padding: 8px;
}
.camp2 li a {
  color:rgb(247, 244, 244);
  text-decoration: none;
  cursor: pointer;
}
.camp2 li a:hover {
  opacity: 0.5;
}
/* 焚き火台  */
.camp3 {
  list-style: none;
  padding: 0;
  margin: 0;  
}
.camp3 li {
  padding: 8px;
}
.camp3 li a {
  color:rgb(247, 244, 244);
  text-decoration: none;
  cursor: pointer;
}
.camp3 li a:hover {
  opacity: 0.5;
}
/* 照明 */
.camp4 {
  list-style: none;
  padding: 0;
  margin: 0;  
}
.camp4 li {
  padding: 8px;
}
.camp4 li a {
  color:rgb(247, 244, 244);
  text-decoration: none;
  cursor: pointer;
}
.camp4 li a:hover {
  opacity: 0.5;
}
/* 調理器具 */
.camp5 {
  list-style: none;
  padding: 0;
  margin: 0;  
}
.camp5 li {
  padding: 8px;
}
.camp5 li a {
  color:rgb(247, 244, 244);
  text-decoration: none;
  cursor: pointer;
}
.camp5 li a:hover {
  opacity: 0.5;
}

h2 {
  text-align: center;
  margin-top: 8px;
  padding: 56px 0 8px;
}
/* 食器 */
.camp6 {
  list-style: none;
  padding: 0;
  margin: 0;  
}
.camp6 li {
  padding: 8px;
}
.camp6 li a {
  color:rgb(247, 244, 244);
  text-decoration: none;
  cursor: pointer;
}
.camp6 li a:hover {
  opacity: 0.5;
}

h2 {
  text-align: center;
  margin-top: 8px;
  padding: 56px 0 8px;
}
/* その他 */
.camp7 {
  list-style: none;
  padding: 0;
  margin: 0;  
}
.camp7 li {
  padding: 8px;
}
.camp7 li a {
  color:rgb(247, 244, 244);
  text-decoration: none;
  cursor: pointer;
}
.camp7 li a:hover {
  opacity: 0.5;
}

h2 {
  text-align: center;
  margin-top: 8px;
  padding: 56px 0 8px;
}


/* スライドショー */
main {
  width: 600px;
  margin: 0 auto;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#titaniumdoublemug450 {
  width: 100%;
  height: 100%;
  margin-top: 24px;
  margin-bottom: 8px;
}
img {
  vertical-align: bottom;
}
nav {
  margin: 8px;
}
nav ul {
  display: flex;
  width:584px;
}
nav li {
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 12px;
  padding: 4px;
  text-align: center;
  cursor: pointer;
  user-select: none;
} 
nav li:hover {
  background: #f8f8f8;
}
#prev, #next {
  width: 100%;
}
.thumbnails {
  display: grid;
  grid-template-columns: repeat(4, 146px);
  gap: 5px;
}
.thumbnails li {
  cursor: pointer;
  opacity: 0.6;
}
.thumbnails li:hover,
.thumbnails li.current {
  opacity: 1;
}
.thumbnails img {
  width: 146px;
  margin-bottom: 62px;
}

/* フッター */
footer {
  font-size: 12px;
  text-align: center;
  padding: 32px;
  background: rgba(0, 0, 0, 0.6);
  display: block;
}
footer li a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
footer li a:hover {
  opacity: 0.5;
}


@media (max-width: 600px) {
  #top {
    font-size: 46px;
  }

  h2 {
    font-size: 18px;
    text-align: center;
    margin-top: 8px;
    padding: 56px 0 8px;
  }

  .tab li a {
    font-size: 14px;
  }

  main {
    width: 300px;
    margin: 0 auto;
  }
  nav ul {
    width:284px;
  }
  .thumbnails {
    display: grid;
    grid-template-columns: repeat(5, 56px);
    gap: 5px;
  }
  .thumbnails img {
    width: 56px;
  }
}